literature/books/Chaos_and_Fractals_Peitgen_Juergens_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/IntroductionToModernTheoryOfDynamicalSystems_KatokHasselblatt1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_to_Dynamical_Systems_and_Chaos_Layek_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractals/GeometryOfFractalSetsBook.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractals/OpticalModelsVogelSpirals.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractals/MultifractalMethodologySalat2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractals/Muzy-1994-The-Multi-Fractal-Formalism-Revisited-With-Wavelets.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractals/ModelingAndForecastingTimeSeriesNewApproachToMultiFractalData2019JuneOral.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_Origins_of_Order_Self_Organization_and_Selection_In_Evolution_Kaufman_1993.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kalman_filtering/Fundamentals_of_Kalman_Filtering_MIT_Lincoln.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/data-assimilation-methods-algorithms-and-applications-Ash_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/data-assimilation-methods-algorithms-and-applications-Asch_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/Data_Assimilation_in_the_Geosciences_Carassi_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/Big_Data_Assimilation_Revolutionizing_Severe_Weather_Prediction_Miyoshi_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/First_application_of_data_assimilation‑based_control_to_fusion_plasma_Morishita_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/Nonlinear_Data_Assimilation_for_high-dimensional_systems_VanLeeuwen_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/The_Irreplaceable_Utility_of_Sequential_Data_Assimilation_for_Numerical_Weather_Prediction_System_Development-Lessons_Learned_from_an_Experimental_HWRF_System_Poterjoy_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/Ensemble_based_data_assimilation_efda_review_ppt.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/data_assimilation/The_Ensemble_Kalman_Filter_Lecture2_Sanita.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/tilings-and-patterns-Grunbaum-book.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Thermodynamics_of_chaotic_systems_Beck_1993.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Penrose_Tiles_to_Trapdoor_Ciphers_gardner_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lecture_Notes_on_Dynamical_Systems_Chaos_and_Fractal_Geometry_Goodson_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Elements_of_Fractal_Geometry_and_Dynamics_Pesin.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chaos/SarnakArithmeticQuantumChaos_Sarnak_1993.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chaos/CayleyProblem_Jacobsen_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chaos/ChaosFractalsStatistics_Chaterjee_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chaos/Chaos_Fractals_Statistics_Chatterjee_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/tilings/Penrose_Tilings_Trejberg_slides_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Nonlinear_Dynamics_and_Chaos_2018_Steven_Strogatz.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/neural_nets/Period-Doublings_to_Chaos_in_a_Simple_Neural_Network-An_Analytical_Proof_Wang_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/neural_nets/On_Dynamical_Properties_of_Neural_Networks_Botelho_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/neural_nets/NIPS-1988-dynamics-of-analog-neural-networks-with-time-delay-Marcus.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/neural_nets/Opening_the_Black_Box-Low-Dimensional_Dynamics_in_High-Dimensional_Recurrent_Neural_Networks_Sussilo_Stanford_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/neural_nets/NIPS-1993-asynchronous-dynamics-of-continuous-time-neural-networks-Wang-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/neural_nets/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/model_predictive_control/MPC-book-2nd-edition-1st-printing_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/model_predictive_control/Linear_tracking_MPC_for_nonlinear_systems_Part_II-The_data-driven_case_Berberich_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/model_predictive_control/Linear_tracking_MPC_for_nonlinear_systems_Part_I-The filter=lfs diff=lfs merge=lfs -text
model-based_case_Berberich_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/model_predictive_control/Linear_tracking_MPC_for_nonlinear_systems_Part_I-The_model-based_case_Berberich_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/model_predictive_control/Tube-enhanced_Multi-stage_MPC_for_Flexible_Robust_Control_of_Constrained_Linear_Systems_with_Additive_and_Parametric_Uncertainties_Subramanian_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/model_predictive_control/Tube-Based_MPC-a_Contraction_Theory_Approach_Singh.Pavone.Slotine.CDC16EV.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/system_identification/Ljung_L_System_Identification_Theory_for_User-ed2.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/system_identification/Sysid2011b.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/system_identification/MIT_6.435_System_Identification_2005/SystemIdentification_lec12_6_435.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/StochasticDifferentialEquations_BerntOksendal_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba_Explained_The_Gradient.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Why_Mamba_was_rejected_recently_at_the_ICLR_by_Joe_Elkhoury_Feb_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/How_to_Train_Your_HiPPO-State_Space_Models_with_Generalized_Orthogonal_Basis_Projections_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba_Can_it_replace_Transformers_Vishal_Rajput_Jan_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Efficiently_Modeling_Long_Sequences_with_Structured_State_Spaces_Gu_Stanford_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/It_is_Raw-Audio_Generation_with_State-Space_Models_Goel_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/HiPPO-Recurrent_Memory_with_Optimal_Polynomial_Projections_Gu_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Hungry_Hungry_Hippos-Towards_Language_Modeling_with_State_Space_Models_Fu_Dao_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba-Linear-Time_Sequence_Modeling_with_Selective_State_Spaces_Gu_CMU_2023.pdf.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Combining_Recurrent_Convolutional_and_Continuous-time_Models_with_Linear_State-Space_Layers_Gu_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/state_space_models/Mamba-Linear-Time_Sequence_Modeling_with_Selective_State_Spaces_Gu_CMU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Brownian_Motion_and_Stochastic_Flow_Systems_Harrison_1985.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/differential-equations-stability-and-chaos-in-dynamic-economics_Brock.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Learning_Stable_Linear_Dynamical_Systems_Boots_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/fractals/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kolmogorov_complexity/Kolmogorov_Complexity_and_its_Applications_Li_1990.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/introduction-to-kolmogorov-complexity-and-its-applications-4th-ed_Li_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/MonteCarlo/A_First_Course_in_Monte_Carlo_Methods_Sanz-Alonso_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/partial-differential-equations-by-evans.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/almost_periodic_functions/AlmostPeriodicFunctionsInAGroupVonNeumann_1933.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/almost_periodic_functions/AlmostPeriodicFunctionsInGroups_PartII_Bochner_VonNeumann_1934.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/causality/Causal_Interactions_Indicator_Between_Two_Time_Series_Using_Extreme_Variations_in_First_Eigenvalue_of_Lagged_Correlation_Matrices_Dominguez_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/Stephen_Wolfram-A_New_Kind_of_Science-Wolfram_Media_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/A_Comprehensive_Taxonomy_of_Cellular_Automata_Rollier_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/statistical-mechanics-cellular-automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/Reliable_Cellular_Automata_with_Self-Organization_Gacs_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/two-dimensional-cellular-automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/computation-theory-cellular-automata-Wolfram-1984.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/universality-complexity-cellular-automata-Wolfram-1984.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/Wave_Cellular_Automata_for_Computing_Applications.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/Adnani_Cellular_Automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/Dynamic-wave-cellular-automata-for-shallow-water-flow-modeling.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/cellular-automata-Wolfram-1983.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/cellular-automaton-continuum-systems.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/cellular_automata/cellular-automaton-properties.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Can_One_Hear_the_Shape_of_a_Drum_Kac_1966.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chaos/deterministic-nonperiodic-flow-lorenz-1963.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/chaos/Learning_Dissipative_Dynamics_in_Chaotic_Systems_Li_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/free_energy_principle/Self-orthogonalizing_attractor_neural_networks_emerging_from_the_free_energy_principle_Spisak_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/geometric_contact_flows/Geometric_Contact_Flows-Contactomorphisms_for_Dynamics_and_Control_Testa_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/barfuss-et-al-collective-cooperative-intelligence.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/bielawski-et-al-heterogeneity-reinforcement-learning-and-chaos-in-population-games.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/duéñez-guzmán-et-al-perceptual-interventions-ameliorate-statistical-discrimination-in-learning-agents.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/garcía-traulsen-picking-strategies-in-games-of-cooperation.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/kleiman-weiner-et-al-evolving-general-cooperation-with-a-bayesian-theory-of-mind.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/köster-et-al-tabula-rasa-agents-display-emergent-in-group-behavior.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/mcavoy-et-al-unilateral-incentive-alignment-in-two-agent-stochastic-games.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/sehwag-et-al-collective-artificial-intelligence-and-evolutionary-dynamics.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/collective_artificial_intelligence_and_evolutionary_dynamics/terrucha-et-al-humans-program-artificial-delegates-to-accurately-solve-collective-risk-dilemmas-but-lack-precision.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Contraction_Theory_Dynamical_Systems_Bullo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lectures_Network_Systems_Bullo_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lectures_Neural_Dynamics_Bullo_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_To_The_Art_of_Mathematical_Inequalities_Steele_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Adaptive_Control_Processes_A_Guided_Tour_Bellman_1961.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/algebraic_connectivity_of_networks/Algebraic_connectivity_of_brain_networks_shows_patterns_of_segregation_leading_to_reduced_network_robustness_in_Alzheimers_disease_Daianu_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Note_on_the_Fireflies_Flames_and_Brains.docx filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_to_Statistical_Signal_Processing_Gray_and_Davisson_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Signal_Processing_Johnson_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/MonteCarlo/Geometry_and_Dynamics_for_Markov_Chain_Monte_Carlo_Barp_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/CriticalPhenomenainNaturalSciences-ChaosFractalsSelf-OrganizationandDisorder-ConceptsandTools-2ndEdition-2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/renormalization_group/bauerschmidt_brydges_slade_book.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/renormalization_group/Introduction_to_Renormalisation_Melo_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/lecture_notes/Nonlinear_Dynamics_Abeywardana_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Think_Complexity_Downey_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/criticality/The_Self-Organized_Criticality_Paradigm_in_Economics_and_Finance_Bouchaud_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/renormalization_group/A_Deep_Dive_into_the_Connections_Between_the_Renormalization_Group_and_Deep_Learning_in_the_Ising_Model_Taylor_thesis_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/renormalization_group/Why_does_deep_and_cheap_learning_work_so_well_Liu_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/AlphaEvolve/Mathematical_Exploration_and_Discovery_at_Scale_Georgiev_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/lecture_notes/Lectures_on_Bouncing_Balls_Dolgopyat_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/gravitational_billiards/A_System_of_One_Dimensional_Balls_with_Gravity_Wojtkowski_1990.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/gravitational_billiards/Circular_elliptic_and_oval_billiards_in_a_gravitational_field_da_Costa_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAM/An_Introduction_to_KAM_Theory_Wayne_2008.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/temporal_dynamics/Constraint_Breeds_Generalization-Temporal_Dynamics_as_an_Inductive_Bias_Chen_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/low_dimensional_linear_embeddings/Automated_Global_Analysis_of_Experimental_Dynamics_through_Low-Dimensional_Linear_Embeddings_Moore_2024.pdf filter=lfs diff=lfs merge=lfs -text
